*
{
    margin: 0px;
    font-family: Roboto;
}

#NumeroS
{
    text-align: center;
    font-size: 25px;
}

#Inputs
{
    position: absolute;
    top: 40px;
    margin-left: calc(50% - 96.883px);
}

#Range
{
    margin-left: calc(96.883px - 64.5px);
}

#Botão
{
    width: 90px;
    height: 30px;
    background-color: rgb(34, 238, 78);
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    margin-left: calc(96.883px - 45px);
    margin-top: 10px;
    font-size: 15px;
}

#ValorA
{
    position: relative;
    top: -3px;
    left: 0%;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-left: 2%;
}
